node_modules/
bower_components/
*.log

dist/bundle.js
dist/bundle.js.map

# exception to the rule
!dist/.gitkeep
!server/config/config.js

##Dependencies##
package.json

##Misc##
thesisREQ.txt
thesis_ideas.md
bundle
